<!--<nb-card size="large">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Orders">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period" 
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-orders-chart #ordersChart [ordersChartData]="ordersChartData"></ngx-orders-chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Profit" [lazyLoad]="true">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="chartPanelSummary"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-profit-chart #profitChart [profitChartData]="profitChartData"></ngx-profit-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>



<nb-card size="large">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Profit" [lazyLoad]="true">
      <div class="chart-container">
        <ngx-chart-panel-summary [summary]="summarizedData"></ngx-chart-panel-summary>
        <ngx-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </ngx-chart-panel-header>
        <ngx-profit-chart #profitChart [profitChartData]="profitChartData"></ngx-profit-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
-->

<nb-card size="large">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Profit" [lazyLoad]="true">
      <div class="chart-container">
        <ngx-chart-panel-header 
          [type]="period"
          [selectedYear]="selectedYear"
          [selectedOperators]="selectedOperators"
          (periodChange)="setPeriodAndGetChartData($event)"
          (yearChange)="setYearAndGetChartData($event)"
          (operatorsChange)="setOperatorsAndGetChartData($event)">
        </ngx-chart-panel-header>

        <!-- Mostrar mensagem enquanto os dados não estão carregados -->
        <div *ngIf="!dataLoaded" class="no-data-message">
          <p>Por favor, selecione os filtros acima e clique em "Pesquisar" para exibir o gráfico.</p>
        </div>

        <div *ngIf="!dataLoaded">
          <p>Carregando dados...</p>
        </div>
        <!-- Exibir o gráfico quando os dados estiverem carregados -->
        <ngx-profit-chart *ngIf="dataLoaded" [profitChartData]="profitChartData"></ngx-profit-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
