<!--<nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card size="small">
      <ngx-traffic-cards-header [type]="period" (periodChange)="setPeriodAngGetData($event)"></ngx-traffic-cards-header>
      <tr style="display: flex;">
        <th style="text-align: center; padding: 8px;flex: 1">ID Caminhão</th>
        <th style="text-align: center; padding: 8px;flex: 1">Combustível S10</th>
        <th style="text-align: center; padding: 8px;flex: 1">Combustível S500</th>
      </tr>
      <ngx-traffic-front-card [frontCardData]="truckFuelData"></ngx-traffic-front-card>
      <nb-icon class="toggle-icon" icon="chevron-up-outline" pack="eva" (click)="toggleView()"></nb-icon>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="small">
      <ngx-traffic-cards-header [type]="period" (periodChange)="setPeriodAngGetData($event)"></ngx-traffic-cards-header>
      <ngx-traffic-back-card [trafficBarData]="trafficBarData"></ngx-traffic-back-card>
      <nb-icon class="toggle-icon" icon="chevron-down-outline" pack="eva" (click)="toggleView()"></nb-icon>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>

--><nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card size="small">
      <ngx-traffic-cards-header [type]="period" (periodChange)="setPeriodAndGetData($event)"></ngx-traffic-cards-header>
      <ngx-traffic-front-card [frontCardData]="truckFuelData"></ngx-traffic-front-card>
      <nb-icon class="toggle-icon" icon="chevron-up-outline" pack="eva" (click)="toggleView()"></nb-icon>
    </nb-card>
  </nb-card-front>

  <nb-card-back>
    <nb-card size="small">
      <ngx-traffic-cards-header [type]="period" (periodChange)="setPeriodAndGetData($event)"></ngx-traffic-cards-header>
      <ngx-traffic-back-card [trafficBarData]="trafficBarData"></ngx-traffic-back-card>
      <nb-icon class="toggle-icon" icon="chevron-down-outline" pack="eva" (click)="toggleView()"></nb-icon>
    </nb-card>
  </nb-card-back>
</nb-reveal-card>

