<div class="steppers-container row">
  <div class="col-xxl-6">
    <div class="row">
      <!-- Operadores ativos -->
      <div class="col-xxl-6">
        <ngx-status-card title="Operadores ativos" type="primary" [amount]="amountOperator">
          <nb-icon icon="people-outline" pack="eva"></nb-icon>
        </ngx-status-card>
      </div>

      <!-- Máquinas ativas -->
      <div class="col-xxl-6">
        <ngx-status-card title="Máquinas ativas" type="primary" [amount]="amountMachine">
          <nb-icon icon="settings-outline" pack="eva"></nb-icon>
        </ngx-status-card>
      </div>
    </div>
  </div>

  <div class="col-xxl-6">
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <ngx-operator-charts></ngx-operator-charts>
  </div>
</div>

<!--porcentagem litros-->
<div class="row">
  <div class="col-md-3">
    <ngx-temperature></ngx-temperature>
  </div>
  <div class="col-md-3">
    <ngx-temperature></ngx-temperature>
  </div>
  <div class="col-md-3">
    <ngx-temperature></ngx-temperature>
  </div>
  <div class="col-md-3">
    <ngx-temperature></ngx-temperature>
  </div>
</div>

