<div class="steppers-container row">
  <div class="col-xxl-6">
    <!-- Combustível S10 -->
    <!--<ngx-status-card title="Total de Combustível abastecido de S10" type="primary" [amount]="amountFuelS10"
                     class="bg-gradient-s10">
      <nb-icon icon="droplet-outline" pack="eva" class="icon-green"></nb-icon>
    </ngx-status-card>

    --Combustível S500 com classe de gradiente
    <ngx-status-card title="Total de Combustível abastecido de S500" type="primary" [amount]="amountFuelS500"
                     class="bg-gradient-s500">
      <nb-icon icon="droplet-outline" pack="eva" class="icon-yellow"></nb-icon>
    </ngx-status-card>-->
    <div class="row">
      <!-- Operadores ativos -->
      <div class="col-xxl-6">
        <ngx-status-card title="Operadores ativos" type="primary" [amount]="amountOperator">
          <nb-icon icon="people-outline" pack="eva"></nb-icon>
        </ngx-status-card>
      </div>

      <!-- Máquinas ativas -->
      <div class="col-xxl-6">
        <ngx-status-card title="Máquinas ativas" type="primary" [amount]="amountMachine">
          <nb-icon icon="settings-outline" pack="eva"></nb-icon>
        </ngx-status-card>
      </div>
    </div>
  </div>



  <div class="col-xxl-6">
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>
</div>


<div class="row">
  <div class="col-xxl-12">
    <ngx-operator-charts></ngx-operator-charts>
  </div>
</div>

<!--
<div class="row">
  <div class="col-xxl-12">
    <ngx-machine-charts></ngx-machine-charts>
  </div>
</div>-->
