<div class="header-container">
  <div class="sidebar-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
  </div>
  <div class="logo-container">
    <a class="logo-client" [ngClass]="{'full-width': !isLogoEnterpriseVisible}" href="#"
       (click)="navigateHome()">MSV tecnologia</a>
    <div class="logo-enterprise" [ngClass]="{'hidden': !isLogoEnterpriseVisible}">
      <div class="typewriter">
        <a>{{ displayedText }}</a>
      </div>
    </div>
  </div>
</div>
<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="[
                  { title: 'header.profile' | translate, link: '/pages/profile', data: 'none'  },
                  { title: 'header.log_out' | translate, link: '/pages/logOut', data: 'logout' }
               ]"
                [onlyPicture]="userPictureOnly"
                [name]="(userData?.firstName + ' ' + userData?.lastName)"
                [picture]="userData?.profileImage">
      </nb-user>

    </nb-action>
  </nb-actions>
</div>
