
<div class="header-container">
  <label for="dateRange">Intervalo de datas:</label>
  <input nbInput fullWidth shape="semi-round"
         placeholder="Selecione o intervalo de datas"
         [nbDatepicker]="formpicker" [(ngModel)]="dateRange"
         (ngModelChange)="onDateRangeChange($event)" id="dateRange">
  <nb-rangepicker #formpicker></nb-rangepicker>

  <!-- Descrição do filtro de operadores -->
  <label for="operatorSelect">Operadores:</label>
  <nb-select id="operatorSelect" class="operator-select" [multiple]="true" [selected]="selectedOperators" (selectedChange)="changeOperators($event)">
    <nb-option *ngFor="let operator of operators" [value]="operator.idOp">
      {{ operator.name }}
    </nb-option>
  </nb-select>

  <!-- Descrição do filtro de máquinas -->
  <label for="machineSelect">Máquinas:</label>
  <nb-select id="machineSelect" class="machine-select" [multiple]="true" [selected]="selectedMachines" (selectedChange)="changeMachines($event)">
    <nb-option *ngFor="let machine of machines" [value]="machine.name">
      {{ machine.name }}
    </nb-option>
  </nb-select>
</div>
