@import '../../../../@theme/styles/themes';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  padding: 1.5rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; // Distribui os filtros com espaçamento uniforme
    gap: 1rem; // Espaçamento uniforme entre os filtros
    width: 100%;

    // Estilo para a descrição
    .chart-description {
      flex: 1 1 100%; // Ocupa a linha inteira
      text-align: center;
      margin-bottom: 1rem;
    }

    // Estilo para filtros de data e seleção
    input[nbInput],
    .operator-select,
    .machine-select,
    .period-select,
    .year-select {
      flex: 1 1 200px; // Largura flexível com mínimo de 200px
      max-width: 220px;
    }

    // Estilos específicos para o datepicker
    nb-rangepicker {
      max-width: 220px;
    }

    // Responsividade para telas maiores
    @include media-breakpoint-up(md) {
      justify-content: space-around;
      .operator-select,
      .machine-select,
      .period-select,
      .year-select {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
