<nb-card>
  <nb-card-header class="header-container">
    {{ 'fuel.title' | translate }}
    <div class="button-container">
      <button nbButton outline status="success" size="small" (click)="downloadCSV()">
        <nb-icon icon="download" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        Download
      </button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
